@model Mash_v0._3.Models.Task

@{
    ViewBag.Title = "Edit tasks";
}

<h2>@ViewBag.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Zadatak</legend>

        @Html.HiddenFor(model => model.idTask)

        <div class="editor-label">
            Headline
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.taskHeader)
            @Html.ValidationMessageFor(model => model.taskHeader)
        </div>

        <div class="editor-label">
            Text
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>



        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

